{% extends 'tomatoapple/base.html'%}
{% block title %}推定アプリメニュー{% endblock %}

{% block content %}
<div class="container" style=" padding: 10px 300px; min-width: 1000px; margin: 0 auto;">
    <h4 class="mt-4 border-bottom">tomato-apple判別アプリ</h4>
    <p class=" mb-4">画像が トマト か リンゴ かを推定します。</p>
    <p>画像ファイルを選択して判別ボタンをクリックしてください。</p>
    <form action="{% url 'tomatoapple:predict' %}" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group">
        <div class="custom-file">
            {{ form.image }}
            <label class="custom-file-label" for="customFile" data-browse="参照">
            画像を選択してください
            </label>
        </div>

    </div>
    
    <div align="center">
    <button type="submit" style="font-size: 15pt;" class="btn btn-primary">判別する！</button>
    </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script>
  bsCustomFileInput.init();
</script>





</div>
{% endblock %}